@model Ass_3.Models.RailwayData

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="jumbotron">
    <h1>Railway Ticketing System</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <ul>
             <li class="nav1"><a href="/Home/ViewSchedule/Economy">Economy Class</a></li>

            <li class="nav2"><a href="/Home/ViewSchedule/Buiseness">Buiseness Class</a></li>

        </ul>
    </div>

</div>